.row {
  /*Setting a 1rem margin between each container*/
  margin-top: 1rem;
}

.block1 {
  width: 100%;
}

.block2 {
  width: 100%;
}

.block3 {
  width: 100%;
}

.block4 {
  width: 100%;
}

.block5 {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.horizontal {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#line-margin-top {
  margin-top: 1rem;
}

#phone {
  display: none;
}

/*Introduction Section*/
#cupAThings {
  max-height: 55vh;
  margin-bottom: 3rem;
  z-index: 1;
  position: relative;
}

.shopping .block1 {
  flex: 1;
  margin: 0 3rem 0 5rem;
}

.shopping .block2 {
  flex: 1;
  margin: 0 5rem 0 0;
}

#bestSeller {
  max-height: 35vh;
  margin-top: 3rem;
  z-index: 10;
}

#products {
  max-height: 45vh;
  margin-bottom: 6rem;
}

#trending {
  max-height: 50vh;
}

.intro .block1 {
  flex: 1;
}

.intro .block2 {
  flex: 1.2;
}

.intro .block3 {
  flex: 1;
}

.popular .block1 {
  flex: 1;
}

.popular .block2 {
  flex: 2;
}

.popular .block3 {
  flex: 1;
}

/*About Section*/
#aboutSection .block1 {
  display: flex;
  align-items: center;
  flex: 6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

#aboutSection .block2 {
  flex: 5;
  margin-right: 5rem;
}

#followSection .block1 {
  display: flex;
  align-items: center;
  flex: 6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

#followSection .block2 {
  flex: 5;
  margin-right: 5rem;
}

#factorySection .block1 {
  flex: 7;
  margin-left: 5rem;
}

#factorySection .block2 {
  flex: 5;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Persona Section*/
#personaSection .block1 {
  flex: 5;
}

#personaSection .block2 {
  flex: 1;
}

#personaSection .block3 {
  display: flex;
  align-items: center;
  flex: 6;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Color Section*/
#colorSection .block1 {
  flex: 4;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#colorSection .block2 {
  flex: 1;
}

#colorSection .block3 {
  flex: 7;
}

/*Typography Section*/
#typographySection .block1 {
  flex: 5;
}

#typographySection .block2 {
  flex: 1;
}

#typographySection .block3 {
  flex: 6;
}

/*Potential Images Section*/
.imageSection .block1 {
  flex: 1;
}

.imageSection .block2 {
  flex: 5;
}

.imageSection .block3 {
  flex: 5;
}

/*Interactive Elements Section*/
#interactiveElementsSection .block1 {
  flex: 1;
}

#interactiveElementsSection .block2 {
  flex: 2;
}

#interactiveElementsSection .block3 {
  flex: 1;
}

/*In-text Link Section*/
#link .block1 {
  flex: 6;
}

#link .block2 {
  flex: 1;
}

#link .block3 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Navigation Button Section*/
#navButton .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#navButton .block2 {
  flex: 1;
}

#navButton .block3 {
  flex: 6;
}

/*Submit/Reset Button Section*/
#submitButton .block1 {
  flex: 6;
}

#submitButton .block2 {
  flex: 1;
}

#submitButton .block3 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Text input Section*/
#textInput .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#textInput .block2 {
  flex: 1;
}

#textInput .block3 {
  flex: 6;
}

/*Radio Button Section*/
#radioButton .block1 {
  flex: 7;
}

#radioButton .block2 {
  flex: 1;
}

#radioButton .block3 {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Image as a Link Section*/
#imageLink .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#imageLink .block2 {
  flex: 1;
}

#imageLink .block3 {
  flex: 6;
}

/*text_elements Section*/
#textElementsSection .block1 {
  flex: 2;
}

#textElementsSection .block2 {
  flex: 8;
}

#textElementsSection .block3 {
  flex: 2;
}

/*Heading Section*/
#heading .block1 {
  flex: 6;
}

#heading .block2 {
  flex: 1;
}

#heading .block3 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Paragraph Section*/
#para .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#para .block2 {
  flex: 1;
}

#para .block3 {
  flex: 6;
}

/*Numbered List Section*/
#numberedList .block1 {
  flex: 6;
}

#numberedList .block2 {
  flex: 1;
}

#numberedList .block3 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Menu bar section*/
#navBar .block1 {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#navBar .block2 {
  flex: 1;
}

#navBar .block3 {
  flex: 4;
}

/*Product Listing Section*/
#productList .block1 {
  flex: 4;
}

#productList .block2 {
  flex: 1;
}

#productList .block3 {
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Payment section*/
#payment .block1 {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#payment .block2 {
  flex: 1;
}

#payment .block3 {
  flex: 5;
}

/*Cart Section*/
#cart .block1 {
  flex: 5;
}

#cart .block2 {
  flex: 1;
}

#cart .block3 {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Product Page*/
#productIntro .block1 {
  flex: 2;
}

#productIntro .block2 {
  flex: 8;
}

#productIntro .block3 {
  flex: 2;
}

.product_listing {
  flex-wrap: wrap;
}

.product_listing .block1 {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 2%;
  flex: 1 21%;
}

/*Checkout Cart Page*/
#checkoutIntro .block1 {
  flex: 2;
}

#checkoutIntro .block2 {
  flex: 8;
}

#checkoutIntro .block3 {
  flex: 2;
}

.checkoutItem {
  align-items: center;
}

.checkoutItem .block1 {
  flex: 1 40%;
  padding: 0 5%;
}

.checkoutItem .block2 {
  flex: 1 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 5% 0 0;
}

#checkoutSummary .block1 {
  flex: 1;
  padding: 1rem 2rem;
}

/*Payment Page*/
#paymentIntro .block1 {
  flex: 0;
}

#paymentIntro .block2 {
  flex: 8;
}

#paymentIntro .block3 {
  flex: 0;
}

#paymentInfo .block1 {
  flex: 1;
}

#paymentInfo .block2 {
  flex: 1;
}

#paymentInfo .block3 {
  flex: 10;
  padding: 2rem 5rem 2rem 2rem;
  margin-left: 3rem;
}

/*Trending Page*/
#trendingIntro .block1 {
  flex: 1;
}

#trendingIntro .block2 {
  flex: 5;
}

#trendingIntro .block3 {
  flex: 1;
}

#spicyNoodleTitle {
  margin-top: 5rem;
  margin-left: 5rem;
}

.trySection .block1 {
  flex: 6;
  margin-left: 5rem;
}

.trySection .block2 {
  justify-content: center;
  flex-direction: column;
  flex: 5;
  display: flex;
  padding-left: 2rem;
  padding-right: 5rem;
  margin-right: 2rem;
}

.trySection .block3 {
  justify-content: center;
  flex-direction: column;
  flex: 5;
  display: flex;
  padding-left: 5rem;
  padding-right: 2rem;
  margin-left: 2rem;
}

.trySection .block4 {
  flex: 6;
  margin-right: 5rem;
}

.trySection .block5 {
  display: none;
}

/*Product Detail Page*/
#detailSection .block1 {
  padding-top: 4rem;
  flex: 5;
}

#detailSection .block2 {
  flex: 1;
}

#detailSection .block3 {
  margin-top: 4rem;
  flex: 6;
  padding-left: 2rem;
}

#detailSection .block4 h5 {
  padding-bottom: 1rem;
}

#detailSection .block4 {
  flex: 6;
  clear: both;
  padding-left: 1rem;
  padding-right: 5rem;
}

#detailSection .block5 {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

/*Popular Noodles Section*/
#popular_noodles {
  z-index: 1;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.popular_noodles .block1 {
  padding: 1rem 0 0 1rem;
}

.popular_noodles .block2 {
  padding: 1rem 1rem 0 0;
}

.popular_noodles .block3 {
  padding: 1rem 0 0 1rem;
}

.popular_noodles .block4 {
  padding: 1rem 0 0 1rem;
}

.popular_noodles .block5 {
  padding: 1rem 1rem 0 1rem;
}

/*for tablet*/
@media only screen and (max-width:60rem) {
  #cupAThings {
    max-height: 100vh;
    margin-bottom: 3rem;
  }

  #bestSeller {
    max-height: 100vh;
    margin-bottom: 0;
  }

  #products {
    max-height: 45vh;
    margin-bottom: 3rem;
  }

  #laptop {
    display: none;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 0.25rem;
    left: 1rem;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 2rem;
    height: 1.6rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 1002;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 1.65rem;
    height: 0.2rem;
    margin-bottom: 0.25rem;
    position: relative;
    background: #333333;
    border-radius: 0.15rem;
    z-index: 1001;
    transform-origin: 0.2rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FFFFFF;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    text-align: center;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    margin: -3em 0 0 -1em;
    padding: 3em 0 2em 0;
    background: #333333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 0;
  }

  #menu li a {
    display: block;
    padding: 1rem 0;
    font-size: 1rem;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

  #menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  #phone {
    width: 100%;
    position: fixed;
    display: block;
    padding: 0.8rem 0;
    z-index: 1000;
  }

  #menu li a:hover {
    padding: 1rem 0;
    border: 0.1rem solid #f16668;
    text-decoration: none;
    color: #f16668;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  body {
    font-size: 12px;
  }

  h2 {
    font-size: 4.5rem;
  }

  .quote {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }

  /*input text-box styling*/
  .text-box[type=text] {
    width: 90%;
  }

  /*input text-box styling*/
  .text-box[type=text]:focus {
    width: 90%;
  }

  .contact-text-box[type=text] {
    width: 90%;
  }

  /*input text-box styling*/
  .contact-text-box[type=text]:focus {
    width: 90%;
  }

  .contact-textarea {
    width: 90%;
  }

  .payment-title {
    font-size: 2rem;
  }

  .intro .block1 {
    flex: 1;
  }

  .intro .block2 {
    flex: 2;
  }

  .intro .block3 {
    flex: 1;
  }

  /*Persona Section*/
  #personaSection .block2 {
    flex: 0;
    display: none;
  }

  /*Color Section*/
  #colorSection .block2 {
    flex: 0;
    display: none;
  }

  /*Typography Section*/
  #typographySection .block2 {
    flex: 0;
    display: none;
  }

  #spicyNoodleTitle {
    margin-top: 3rem;
    margin-left: 5rem;
  }

  /*Potential Images Section*/
  .imageSection .block1 {
    flex: 0;
    display: none;
  }

  /*Interactive Elements Section*/
  #interactiveElementsSection .block1 {
    flex: 1;
  }

  #interactiveElementsSection .block2 {
    flex: 2;
  }

  #interactiveElementsSection .block3 {
    flex: 1;
  }

  /*In-text Link Section*/
  #link .block2 {
    flex: 0;
    display: none;
  }

  /*Navigation Button Section*/
  #navButton .block2 {
    flex: 0;
    display: none;
  }

  /*Submit/Reset Button Section*/
  #submitButton .block2 {
    flex: 0;
    display: none;
  }

  /*Text input Section*/
  #textInput .block2 {
    flex: 0;
    display: none;
  }

  /*Radio Button Section*/
  #radioButton .block2 {
    flex: 0;
    display: none;
  }

  /*Image as a Link Section*/
  #imageLink .block2 {
    flex: 0;
    display: none;
  }

  /*text_elements Section*/
  #textElementsSection .block1 {
    flex: 2;
  }

  #textElementsSection .block2 {
    flex: 8;
  }

  #textElementsSection .block3 {
    flex: 2;
  }

  /*Heading Section*/
  #heading .block2 {
    flex: 0;
    display: none;
  }

  /*Paragraph Section*/
  #para .block2 {
    flex: 0;
    display: none;
  }

  /*Numbered List Section*/
  #numberedList .block2 {
    flex: 0;
    display: none;
  }

  /*Menu bar section*/
  #navBar .block2 {
    flex: 0;
    display: none;
  }

  /*Product Listing Section*/
  #productList .block2 {
    flex: 0;
    display: none;
  }

  /*Payment section*/
  #payment .block2 {
    flex: 0;
    display: none;
  }

  /*Cart Section*/
  #cart .block2 {
    flex: 0;
    display: none;
  }

  /*Product Page*/
  #productIntro .block1 {
    flex: 2;
  }

  #productIntro .block2 {
    flex: 8;
  }

  #productIntro .block3 {
    flex: 2;
  }

  .product_listing .block1 {
    margin-top: 1rem;
    padding: 2%;
    flex: 1 29.33%;
    margin-left: 1rem;
  }

  /*Checkout Cart Page*/
  #checkoutIntro .block1 {
    flex: 2;
  }

  #checkoutIntro .block2 {
    flex: 8;
  }

  #checkoutIntro .block3 {
    flex: 2;
  }

  .checkoutItem .block1 {
    flex: 1 46%;
    padding: 0 2%;
  }

  .checkoutItem .block2 {
    flex: 1 46%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
  }

  #checkoutSummary .block1 {
    flex: 1;
  }

  .overlay a {
    font-size: 1.5rem;
  }
}

/*for phone*/
@media only screen and (max-width:45rem) {
  #cupAThings {
    max-height: 100vh;
    margin-bottom: 0;
  }

  .shopping .block1 {
    flex: 1;
    margin: 0;
    order: 0;
  }

  .shopping .block2 {
    flex: 1;
    margin: 1rem 0 0 0;
    order: 1;
  }

  #bestSeller {
    max-height: 100vh;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  #products {
    margin-bottom: 1rem;
  }

  /*I referenced the hamburger menu from the internet it is in my citation (NOT MY CODE)*/
  #laptop {
    display: none;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 0.25rem;
    left: 1rem;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 2rem;
    height: 1.6rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 1002;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 1.65rem;
    height: 0.2rem;
    margin-bottom: 0.25rem;
    position: relative;
    background: #333333;
    border-radius: 0.15rem;
    z-index: 1001;
    transform-origin: 0.2rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FFFFFF;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    margin: -3em 0 0 -1em;
    padding: 3em 0 2em 0;
    background: #333333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 0;
  }

  #menu li a {
    display: block;
    padding: 1rem 0;
    font-size: 1rem;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

  #menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  #phone {
    width: 100%;
    position: fixed;
    display: block;
    padding: 0.8rem 0;
    z-index: 100000;
  }

  label {
    padding: 0;
  }

  #menu li a:hover {
    padding: 1rem 0;
    border: 0.1rem solid #f16668;
    text-decoration: none;
    color: #f16668;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  body {
    font-size: 12px;
  }

  h2 {
    font-size: 4rem;
  }

  .quote {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }

  .payment-title {
    font-size: 4rem;
  }

  #paymentInfo .block3 {
    flex: 10;
    padding: 2rem 5rem 2rem 3rem;
    margin-left: 0;
  }

  #detailSection .block3 {
    margin-top: 1rem;
  }

  #detailSection .block5 {
    padding: 1.5rem 1rem;
    margin: 0;
  }

  .checkout-img-noodle {
    margin-left: 0;
  }

  .flex-container.checkoutItem {
    flex-direction: row;
    align-items: center;
  }

  /*input text-box styling*/
  .text-box[type=text] {
    width: 100%;
  }

  /*input text-box styling*/
  .text-box[type=text]:focus {
    width: 100%;
  }

  .contact-text-box[type=text] {
    width: 100%;
  }

  /*input text-box styling*/
  .contact-text-box[type=text]:focus {
    width: 100%;
  }

  .contact-textarea {
    width: 100%;
  }

  .checkoutItem .block1 {
    flex: 1 50%;
    padding: 0;
  }

  .checkoutItem .block2 {
    flex: 1 46%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
  }

  .item {
    margin: 0rem 0 1rem 0rem;
  }

  .right-margin {
    margin-right: 0;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .intro .block1 {
    flex: 1;
  }

  .intro .block2 {
    flex: 2;
  }

  .intro .block3 {
    flex: 1;
  }

  /*About Section*/
  #aboutSection .block1 {
    display: flex;
    align-items: center;
    flex: 6;
    padding: 3rem;
    order: 1;
  }

  #aboutSection .block2 {
    flex: 5;
    order: 0;
  }

  #followSection .block1 {
    align-items: center;
    flex: 6;
    order: 1;
    padding: 3rem;
  }

  #followSection .block2 {
    flex: 5;
    order: 0;
    margin-right: 0;
    padding: 0;
  }

  #factorySection .block1 {
    flex: 7;
    margin-left: 0;
  }

  #factorySection .block2 {
    flex: 5;
    align-items: center;
    padding: 3rem;
  }

  /*Persona Section*/
  #personaSection .block1 {
    flex: 5;
    order: 0;
  }

  #personaSection .block2 {
    flex: 1;
    order: 1;
  }

  #personaSection .block3 {
    display: flex;
    align-items: center;
    flex: 6;
    padding: 3rem;
    order: 2;
  }

  /*Color Section*/
  #colorSection .block1 {
    flex: 4;
    display: flex;
    align-items: center;
    padding: 3rem;
    order: 2;
  }

  #colorSection .block2 {
    flex: 1;
    order: 1;
  }

  #colorSection .block3 {
    flex: 7;
    order: 0;
  }

  /*Typography Section*/
  #typographySection .block1 {
    flex: 5;
    order: 0;
  }

  #typographySection .block2 {
    flex: 1;
    order: 1;
  }

  #typographySection .block3 {
    flex: 6;
    order: 2;
  }

  /*Potential Images Section*/
  .imageSection .block1 {
    flex: 1;
    order: 0;
  }

  .imageSection .block2 {
    flex: 5;
    order: 2;
  }

  .imageSection .block3 {
    flex: 5;
    order: 1;
    margin-bottom: 1rem;
  }

  /*Interactive Elements Section*/
  #interactiveElementsSection .block1 {
    flex: 1;
  }

  #interactiveElementsSection .block2 {
    flex: 2;
  }

  #interactiveElementsSection .block3 {
    flex: 1;
  }

  /*In-text Link Section*/
  #link .block1 {
    flex: 6;
    order: 0;
  }

  #link .block2 {
    flex: 1;
    order: 1;
  }

  #link .block3 {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  /*Navigation Button Section*/
  #navButton .block1 {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  #navButton .block2 {
    flex: 1;
    order: 1;
  }

  #navButton .block3 {
    flex: 6;
    order: 0;
  }

  /*Submit/Reset Button Section*/
  #submitButton .block1 {
    flex: 6;
    order: 0;
  }

  #submitButton .block2 {
    flex: 1;
    order: 1;
  }

  #submitButton .block3 {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  /*Text input Section*/
  #textInput .block1 {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  #textInput .block2 {
    flex: 1;
    order: 1;
  }

  #textInput .block3 {
    flex: 6;
    order: 0;
  }

  /*Radio Button Section*/
  #radioButton .block1 {
    flex: 7;
    order: 0;
  }

  #radioButton .block2 {
    flex: 1;
    order: 1;
  }

  #radioButton .block3 {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  /*Image as a Link Section*/
  #imageLink .block1 {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  #imageLink .block2 {
    flex: 1;
    order: 1;
  }

  #imageLink .block3 {
    flex: 6;
    order: 0;
  }

  /*text_elements Section*/
  #textElementsSection .block1 {
    flex: 2;
  }

  #textElementsSection .block2 {
    flex: 8;
  }

  #textElementsSection .block3 {
    flex: 2;
  }

  /*Heading Section*/
  #heading .block1 {
    flex: 6;
    order: 0;
  }

  #heading .block2 {
    flex: 1;
    order: 1;
  }

  #heading .block3 {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  /*Paragraph Section*/
  #para .block1 {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  #para .block2 {
    flex: 1;
    order: 1;
  }

  #para .block3 {
    flex: 6;
    order: 0;
  }

  /*Numbered List Section*/
  #numberedList .block1 {
    flex: 6;
    order: 0;
  }

  #numberedList .block2 {
    flex: 1;
    order: 1;
  }

  #numberedList .block3 {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  /*Menu bar section*/
  #navBar .block1 {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  #navBar .block2 {
    flex: 1;
    order: 1;
  }

  #navBar .block3 {
    flex: 4;
    order: 0;
  }

  /*Product Listing Section*/
  #productList .block1 {
    flex: 4;
    order: 0;
  }

  #productList .block2 {
    flex: 1;
    order: 1;
  }

  #productList .block3 {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  /*Payment section*/
  #payment .block1 {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  #payment .block2 {
    flex: 1;
    order: 1;
  }

  #payment .block3 {
    flex: 5;
    order: 0;
  }

  /*Cart Section*/
  #cart .block1 {
    flex: 5;
    order: 0;
  }

  #cart .block2 {
    flex: 1;
    order: 1;
  }

  #cart .block3 {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    order: 2;
  }

  /*Product Page*/
  .product_row {
    margin: 0;
  }

  .product_listing {
    flex-direction: row;
  }

  .product_listing .block1 {
    margin-top: 1rem;
    padding: 2%;
    flex: 1 42%;
    margin: 2%
  }

  #checkoutLeft {
    width: 100%;
  }

  #checkoutRight {
    position: relative;
    width: 100%;
    box-shadow: none;
  }

  /*Trending Page*/
  #trendingIntro .block1 {
    flex: 1;
  }

  #trendingIntro .block2 {
    flex: 5;
  }

  #trendingIntro .block3 {
    flex: 1;
  }

  #spicyNoodleTitle {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .trySection .block1 {
    flex: 6;
    margin-left: 0;
    order: 0;
    position: relative;
  }

  .trySection .block2 {
    display: none;
  }

  .trySection .block3 {
    display: none;
  }

  .trySection .block4 {
    flex: 6;
    margin-right: 0;
    order: 0;
  }

  .trySection .block5 {
    display: block;
  }

  .trendingHover p.info {
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 3rem 3rem;
    color: #fff;
    border: 1px solid #fff;
    margin: auto;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .trendingHover:hover p.info {
    cursor: default;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .trendingHover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: default;
  }

  .trendingHover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .trendingHover:hover .overlay {
    background-color: rgba(170, 170, 170, 0.4);
  }

  .trendingHover img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .trendingHover img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .trendingHover:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}