/*Settings for Laptop Screen Size*/
/*This is a row that often contains a flex-container*/
.row {
  /*Setting a 1rem margin between each container*/
  margin-top: 1rem;
}

/*Each Block is an a flex-item*/
.block1 {
  width: 100%;
}

.block2 {
  width: 100%;
}

.block3 {
  width: 100%;
}

.block4 {
  width: 100%;
}

.block5 {
  width: 100%;
}

/*Container that holds flex-items*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

/*Column flex-container*/
.column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/*Row flex-container*/
.horizontal {
  display: flex;
  width: 100%;
  flex-direction: row;
}

/*Set a margin/spacing for lines*/
#line-margin-top {
  margin-top: 1rem;
}

/*phone menu bar that is not displayed on laptop size screens*/
#phone {
  display: none;
}

/*Home Page Laptop Screen Size*/
#cupAThings {
  /*Header banner container*/
  z-index: 1;
  position: relative;
  margin-bottom: -4.5rem;
}

.intro .block1 {
  /*header banner items*/
  flex: 1;
}

.intro .block2 {
  /*header banner items*/
  flex: 1.2;
  z-index: 2;
}

.intro .block3 {
  /*header banner items*/
  flex: 1;
}

.shopping .block1 {
  /*Shopping Image Section*/
  flex: 1;
  margin: 0 3rem 0 5rem;
}

.shopping .block2 {
  /*Make your own Instant Noodle Section*/
  flex: 1;
  margin: 0 5rem 0 0;
}

/*Popular Noodle Section*/
#popular_noodles {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 5rem;
}

#bestSeller {
  /*Header banner container*/
  z-index: 1;
  position: relative;
  margin-bottom: -2rem;
}

.popular .block1 {
  /*header banner items*/
  flex: 1;
}

.popular .block2 {
  /*header banner items*/
  flex: 3;
  z-index: 2;
}

.popular .block3 {
  /*header banner items*/
  flex: 1;
}

.popular_noodles .block1 {
  padding: 1rem 0 0 1rem;
}

.popular_noodles .block2 {
  padding: 1rem 0 0 1rem;
}

.popular_noodles .block3 {
  padding: 1rem 0 0 1rem;
}

.popular_noodles .block4 {
  padding: 1rem 0 0 1rem;
}

.popular_noodles .block5 {
  padding: 1rem 1rem 0 1rem;
  text-align: left;
}

/*End of Home Page*/
/*Trending Page Laptop Screen Size*/
/*Trending Page Banner*/
#trending {
  z-index: 1;
  position: relative;
  margin-bottom: -5rem;
}

/*Trending Page Banner*/
#trendingIntro .block1 {
  flex: 1;
}

#trendingIntro .block2 {
  flex: 5;
  z-index: 2;
}

#trendingIntro .block3 {
  flex: 1;
}

/*Title of Trend*/
#spicyNoodleTitle {
  margin-left: 5rem;
}

.trySection .block1 {
  flex: 6;
  margin-left: 5rem;
  overflow: hidden;
}

.trySection .block2 {
  justify-content: center;
  flex-direction: column;
  flex: 5;
  overflow: hidden;
  display: flex;
  padding-left: 2rem;
  padding-right: 5rem;
  margin-right: 2rem;
}

.trySection .block3 {
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  flex: 5;
  display: flex;
  padding-left: 5rem;
  padding-right: 2rem;
  margin-left: 2rem;
}

.trySection .block4 {
  flex: 6;
  margin-right: 5rem;
  overflow: hidden;
}

.trySection .block5 {
  display: none;
  overflow: hidden;
}

/*End of Trending Page*/
/*Product Page Laptop Screen Size*/
#products {
  /*product page banner*/
  z-index: 1;
  position: relative;
  margin-bottom: -7rem;
}

/*End of Product Page*/
/*About Page Laptop Screen Size*/
#aboutSection .block1 {
  /*About us content*/
  display: flex;
  align-items: center;
  flex: 6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

#aboutSection .block2 {
  /*Logo*/
  flex: 5;
  margin-right: 5rem;
  padding: 1rem 0 1rem 1rem;
}

#followSection .block1 {
  /*Where to follow our company*/
  display: flex;
  align-items: center;
  flex: 6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

#followSection .block2 {
  /*Image of company*/
  flex: 5;
  margin-right: 5rem;
}

#factorySection .block1 {
  /*Image of office*/
  flex: 7;
  margin-left: 5rem;
}

#factorySection .block2 {
  /*About Company*/
  flex: 5;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*End of About Page*/
/*Styleguide Page Laptop Screen Size*/
/*About Section*/
#aboutStyleGuide .block1 {
  display: flex;
  align-items: center;
  flex: 6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

#aboutStyleGuide .block2 {
  flex: 5;
  margin-right: 5rem;
  padding: 2rem 0 2rem 2rem;
}

/*Persona Section*/
#personaSection .block1 {
  flex: 5;
  margin-left: 5rem;
}

#personaSection .block2 {
  display: flex;
  align-items: center;
  flex: 6;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Color Section*/
#colorSection .block1 {
  flex: 4;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#colorSection .block2 {
  flex: 7;
  margin-right: 5rem;
}

/*Typography Section*/
#typographySection .block1 {
  flex: 5;
  margin-left: 5rem;
}

#typographySection .block2 {
  flex: 6;
}

/*Potential Images Section*/
.imageSection .block1 {
  flex: 5;
  margin-left: 5rem;
}

.imageSection .block2 {
  flex: 5;
  margin-right: 5rem;
}

/*Interactive Elements Section*/
#interactiveElementsSection {
  margin-bottom: 0;
  margin-top: 5rem;
}

#interactiveElementsSection .block1 {
  flex: 1;
}

#interactiveElementsSection .block2 {
  flex: 2;
  z-index: 2;
}

#interactiveElementsSection .block3 {
  flex: 1;
}

#interactiveElementsSection .titleBackground {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/*In-text Link Section*/
#link .block1 {
  flex: 6;
  margin-left: 5rem;
}

#link .block2 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Navigation Button Section*/
#navButton .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#navButton .block2 {
  flex: 6;
  margin-right: 5rem;
}

/*Submit/Reset Button Section*/
#submitButton .block1 {
  flex: 6;
  margin-left: 5rem;
}

#submitButton .block2 {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Text input Section*/
#textInput .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#textInput .block2 {
  flex: 6;
  margin-right: 5rem;
}

/*Radio Button Section*/
#radioButton .block1 {
  flex: 7;
  margin-left: 5rem;
}

#radioButton .block2 {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Image as a Link Section*/
#imageLink .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#imageLink .block2 {
  flex: 6;
  margin-right: 5rem;
}

/*text_elements Section*/
#textElementsSection {
  margin-top: 5rem;
  margin-bottom: -5.5rem;
}

#textElementsSection .block1 {
  flex: 1;
}

#textElementsSection .block2 {
  flex: 8;
  z-index: 2;
}

#textElementsSection .block3 {
  flex: 1;
}

/*Heading Section*/
#heading .block1 {
  flex: 4;
  margin-left: 5rem;
}

#heading .block2 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Paragraph Section*/
#para .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#para .block2 {
  flex: 6;
  margin-right: 5rem;
}

/*Numbered List Section*/
#numberedList .block1 {
  flex: 6;
  margin-left: 5rem;
}

#numberedList .block2 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 5rem;
}

/*Menu bar section*/
#navBar .block1 {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#navBar .block2 {
  flex: 4;
  margin-right: 5rem;
}

/*Product Listing Section*/
#productList .block1 {
  flex: 2;
  margin-left: 5rem;
}

#productList .block2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*Payment section*/
#payment .block1 {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#payment .block2 {
  flex: 5;
  margin-right: 5rem;
}

/*Cart Section*/
#cart .block1 {
  flex: 5;
}

#cart .block2 {
  flex: 6;
  padding-left: 2rem;
  padding-right: 2rem;
}

#cartItem {
  display: flex;
  flex-direction: row;
}

.cartPicture {
  /*Cart product Image*/
  overflow: hidden;
  flex: 1 50%;
}

.cartDetails {
  /*Cart product details*/
  flex: 1 44%;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*End of Styleguide Page*/
/*Product Page*/
.product_search {
  /*Product page search bar*/
  position: relative;
}

/*Product Page Header Banner*/
#productIntro .block1 {
  flex: 1;
}

#productIntro .block2 {
  flex: 10;
  z-index: 2;
}

#productIntro .block3 {
  flex: 1;
}

/*Product Listing*/
.product_listing {
  flex-wrap: wrap;
}

.product_listing .block1 {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 2%;
  flex: 1 21%;
}

/*End of Product Listing Page*/
/*Checkout Cart Page*/
/*Checkout Cart Banner Header*/
#checkoutIntro .block1 {
  flex: 2;
}

#checkoutIntro .block2 {
  flex: 8;
}

#checkoutIntro .block3 {
  flex: 2;
}

/*Checkout Sidebar*/
.checkoutItem .block1 {
  /*Checkout item image*/
  overflow: hidden;
  flex: 1 45%;
  margin: 0 0 0 5%;
}

.checkoutItem .block2 {
  /*Checkout item details*/
  flex: 1 42%;
  padding: 0 3% 0 3%;
}

#checkoutSummary .block1 {
  /*summary of checkout*/
  flex: 1;
  padding: 1rem 2rem;
}

/*Payment Section*/
/*Payment Header Banner*/
#paymentIntro {
  position: relative;
}

#paymentIntro .block1 {
  flex: 1;
}

#paymentInfo .block1 {
  /*Payment form*/
  flex: 10;
  padding: 2rem 5rem 2rem 2rem;
  margin-left: 3rem;
}

/*End of Payment Page*/
/*Product Detail Page Laptop Screen Size*/
#detailSection .block1 {
  padding-top: 4rem;
  margin-left: 5rem;
  flex: 5;
}

#detailSection .block2 {
  flex: 1;
}

#detailSection .block3 {
  margin-top: 5rem;
  flex: 6;
  padding-left: 2rem;
}

#detailSection .block4 h5 {
  padding-bottom: 1rem;
}

#detailSection .block4 {
  flex: 6;
  clear: both;
  padding-left: 1rem;
  padding-right: 5rem;
}

#detailSection .block5 {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

/*Recommended Noodles Carousel Slider*/
#recommended_noodles {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.recommended .block1 {
  padding: 1rem;
  margin: 0.1rem 0.25rem;
}

/*End of Product Detail Page*/
/*for tablet*/
@media only screen and (max-width:60rem) {
  #laptop {
    /*Laptop Size Screen Menu is not displayed for Tablet*/
    display: none;
  }

  /*Hamburger Menu*/
  #menuToggle {
    display: block;
    position: relative;
    top: 0.25rem;
    left: 1rem;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 2rem;
    height: 1.6rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 1002;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 1.65rem;
    height: 0.2rem;
    margin-bottom: 0.25rem;
    position: relative;
    background: #333333;
    border-radius: 0.15rem;
    z-index: 1001;
    transform-origin: 0.2rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FFFFFF;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    text-align: center;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    margin: -3em 0 0 -1em;
    padding: 3em 0 2em 0;
    background: #333333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 0;
  }

  #menu li a {
    display: block;
    padding: 1rem 0;
    font-size: 1rem;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

  #menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  /*Set Tablet Menu to have hamburger Menu*/
  #phone {
    width: 100%;
    position: fixed;
    display: block;
    padding: 0.8rem 0;
    z-index: 1000;
  }

  /*Hover styling*/
  #menu li a:hover {
    padding: 1rem 0;
    border: 0.1rem solid #f16668;
    text-decoration: none;
    color: #f16668;
  }

  /*general styling for basic elements*/
  a {
    color: #ffffff;
    text-decoration: none;
  }

  body {
    font-size: 12px;
  }

  h2 {
    font-size: 4.5rem;
  }

  /*About Page Tablet Size*/
  /*Create a Read More/Read Less Button For About Page Content*/
  #more {
    display: none;
  }

  #myBtn {
    display: block;
  }

  #more2 {
    display: none;
  }

  #myBtn2 {
    display: block;
  }

  /*Trending Page for Tablet Size*/
  .quote {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }

  /*End of Trending Page*/
  /*Payment Page for Tablet Size*/
  /*input text-box styling*/
  .text-box[type=text] {
    width: 90%;
  }

  /*input text-box styling*/
  .text-box[type=text]:focus {
    width: 90%;
  }

  /*Set Sidebar Title Styling*/
  .payment-title {
    font-size: 2rem;
  }

  /*End of Payment Page*/
  /*Contact Us Page Tablet Size*/
  .contact-text-box[type=text] {
    width: 90%;
  }

  /*input text-box styling*/
  .contact-text-box[type=text]:focus {
    width: 90%;
  }

  /*input textarea styling*/
  .contact-textarea {
    width: 90%;
  }

  /*End of Contact Us Page*/
  /*Home Page Tablet Size Screen*/
  /*Home Page Title Banner*/
  .intro .block1 {
    flex: 1;
  }

  .intro .block2 {
    flex: 2;
  }

  .intro .block3 {
    flex: 1;
  }

  /*End of Home Page*/
  /*Product Detail Page Tablet Size*/
  #detailSection .block3 {
    margin-top: 3rem;
  }

  /*End of Product Detail Page*/
  /*Styleguide page Tablet Size*/
  /*About Section*/
  #aboutStyleGuide .block1 {
    margin-left: 2rem;
    padding: 2rem 2rem 2rem 0;
    flex: 1;
  }

  #aboutStyleGuide .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  /*Persona Section*/
  #personaSection .block1 {
    margin-left: 2rem;
    flex: 1;
  }

  #personaSection .block2 {
    flex: 1;
    margin-right: 2rem;
    padding: 2rem 0 2rem 2rem;
  }

  /*Color Section*/
  #colorSection .block1 {
    flex: 1;
    margin-left: 2rem;
    padding: 2rem 2rem 2rem 0;
  }

  #colorSection .block2 {
    flex: 2;
    margin-right: 2rem;
  }

  /*Typography Section*/
  #typographySection .block1 {
    margin-left: 2rem;
    flex: 1;
  }

  #typographySection .block2 {
    margin-right: 2rem;
    padding: 0;
    flex: 1;
  }

  /*Potential Images Section*/
  .imageSection .block1 {
    flex: 1;
    margin-left: 2rem;
  }

  .imageSection .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  /*Interactive Elements Section*/
  #interactiveElementsSection {
    margin-top: 2rem;
  }

  #interactiveElementsSection .block1 {
    flex: 1;
  }

  #interactiveElementsSection .block2 {
    flex: 2;
  }

  #interactiveElementsSection .block3 {
    flex: 1;
  }

  /*In-text Link Section*/
  #link .block1 {
    flex: 1;
    margin-left: 2rem;
  }

  #link .block2 {
    flex: 1;
    margin-right: 2rem;
    padding: 0 0 0 2rem;
  }

  /*Navigation Button Section*/
  #navButton .block1 {
    flex: 1;
    margin-left: 2rem;
    padding: 0 2rem 0 0;
  }

  #navButton .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  /*Submit/Reset Button Section*/
  #submitButton .block1 {
    flex: 1;
    margin-left: 2rem;
  }

  #submitButton .block2 {
    flex: 1;
    padding: 0 0 0 2rem;
    margin-right: 2rem;
  }

  /*Text input Section*/
  #textInput .block1 {
    flex: 1;
    margin-left: 2rem;
    padding: 0 2rem 0 0;
  }

  #textInput .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  /*Radio Button Section*/
  #radioButton .block1 {
    flex: 1;
    margin-left: 2rem;
  }

  #radioButton .block2 {
    flex: 1;
    margin-right: 2rem;
    padding: 0 0 0 2rem;
  }

  /*Image as a Link Section*/
  #imageLink .block1 {
    flex: 1;
    margin-left: 2rem;
    padding: 0 2rem 0 0;
  }

  #imageLink .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  /*text_elements Section*/
  #textElementsSection {
    margin-top: 2rem;
    margin-bottom: -4rem;
  }

  #textElementsSection .block1 {
    flex: 2;
  }

  #textElementsSection .block2 {
    flex: 8;
  }

  #textElementsSection .block3 {
    flex: 2;
  }

  /*Heading Section*/
  #heading .block1 {
    flex: 1;
    margin-left: 2rem;
  }

  #heading .block2 {
    flex: 1;
    margin-right: 2rem;
    padding: 0 0 0 2rem;
  }

  /*Paragraph Section*/
  #para .block1 {
    flex: 1;
    margin-left: 2rem;
    padding: 0 2rem 0 0;
  }

  #para .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  /*Numbered List Section*/
  #numberedList .block1 {
    flex: 1;
    margin-left: 2rem
  }

  #numberedList .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  #combinedElementsSection {
    margin-top: 2rem;
  }

  /*Menu bar section*/
  #navBar .block1 {
    flex: 1;
    padding: 0 2rem 0 0;
  }

  #navBar .block1 .menuBar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  #navBar .block2 {
    flex: 1 100%;
    margin: 0 2rem;
  }

  /*Product Listing Section*/
  #productList .block1 {
    flex: 2;
    margin-left: 2rem;
  }

  #productList .block2 {
    flex: 1;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0;
  }

  /*Payment section*/
  #payment .block1 {
    flex: 1;
    margin-left: 2rem;
  }

  #payment .block2 {
    flex: 1;
    margin-right: 2rem;
  }

  /*Cart Section*/
  #cart .block1 {
    flex: 1;
    margin-left: 2rem;
  }

  #cart .block2 {
    flex: 1;
    margin-right: 2rem;
    padding: 0 0 0 2rem;
  }

  /*End of Styleguide Page*/
  /*Trending Page Tablet Size*/
  #spicyNoodleTitle {
    margin-top: 3rem;
    margin-left: 5rem;
  }

  .overlay a {
    font-size: 1.5rem;
  }

  /*End of Trending Page*/
  /*Product Page Tablet Size*/
  #products {
    /*Product Page Banner*/
    margin-bottom: -5rem;
  }

  #productIntro .block1 {
    /*Product Page Header Banner*/
    flex: 1;
  }

  #productIntro .block2 {
    flex: 10;
  }

  #productIntro .block3 {
    flex: 1;
  }

  .product_listing .block1 {
    /*Product Container*/
    margin-top: 1rem;
    padding: 2%;
    flex: 1 29.33%;
    margin-left: 1rem;
  }

  .product_search input.text-box {
    /*Product Page search Bar Section*/
    width: 100%;
  }

  .product_search .block1 {
    /*Search Bar Text input*/
    width: 45%;
  }

  .product_search a {
    /*Search Icon*/
    width: 1.5rem;
    height: 1.5rem;
  }

  .product_search .block2 {
    /*Spacing*/
    width: 5%;
  }

  .product_search .block3 {
    /*Filter Drop down menu*/
    float: right;
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .product_search .block4 {
    /*Sort By Drop Down Menu*/
    float: right;
    width: 25%;
    display: flex;
    justify-content: center;
  }

  /*Checkout Cart Page*/
  #checkoutIntro .block1 {
    /*Checkout Page Banner*/
    flex: 2;
  }

  #checkoutIntro .block2 {
    flex: 8;
  }

  #checkoutIntro .block3 {
    flex: 2;
  }

  .checkoutItem .block1 {
    /*checkout item image*/
    flex: 1 40%;
    margin: 0 5%;
  }

  .checkoutItem .block2 {
    /*checkout item detail*/
    flex: 1 40%;
    padding: 0 5%;
  }

  #checkoutSummary .block1 {
    /*Checkout overview*/
    flex: 1;
  }
}

/*for phone*/
@media only screen and (max-width:45rem) {

  /*Home Page Phone Size*/
  /*Intro Header Banner*/
  #cupAThings {
    margin-bottom: 0;
  }

  .shopping .block1 {
    /*Shopping */
    flex: 1;
    margin: 0;
    order: 0;
  }

  .shopping .block2 {
    /*Make your own cup noodle*/
    flex: 1;
    margin: 1rem 0 0 0;
    order: 1;
  }

  .intro .block1 {
    flex: 1;
  }

  .intro .block2 {
    flex: 2;
  }

  .intro .block3 {
    flex: 1;
  }

  /*Popular Noodles Header Banner*/
  #bestSeller {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .popular .titleBackground {
    height: 100%;
  }

  #popular_noodles {
    margin-top: 4rem;
  }

  #recommended_noodles {
    margin-top: 0;
    margin-bottom: 5rem;
  }

  #recommended_noodles h5 {
    margin-left: 2rem;
  }

  /*End of Home Page*/
  /*I referenced the hamburger menu from the internet it is in my citation (NOT MY CODE)*/
  /*Laptop Menu display none*/
  #laptop {
    display: none;
  }

  /*Hamburger Menu*/
  #menuToggle {
    display: block;
    position: relative;
    top: 0.25rem;
    left: 1rem;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 2rem;
    height: 1.6rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 1002;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 1.65rem;
    height: 0.2rem;
    margin-bottom: 0.25rem;
    position: relative;
    background: #333333;
    border-radius: 0.15rem;
    z-index: 1001;
    transform-origin: 0.2rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FFFFFF;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    margin: -3em 0 0 -1em;
    padding: 3em 0 2em 0;
    background: #333333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 0;
  }

  #menu li a {
    display: block;
    padding: 1rem 0;
    font-size: 1rem;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

  #menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  /*Display set on for phone menu */
  #phone {
    width: 100%;
    position: fixed;
    display: block;
    padding: 0.8rem 0;
    z-index: 100000;
  }

  #menu li a:hover {
    padding: 1rem 0;
    border: 0.1rem solid #f16668;
    text-decoration: none;
    color: #f16668;
  }

  /*general styling*/
  a {
    color: #ffffff;
    text-decoration: none;
  }

  body {
    font-size: 12px;
  }

  label {
    padding: 0;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  /*Header Background Color*/
  .titleBackground {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  /*Trending Page Phone Size*/
  #trendingIntro .titleBackground {
    height: 100%;
  }

  .quote {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }

  /*Checkout Page Phone Size*/
  .payment-title {
    font-size: 4rem;
  }

  #paymentInfo .block3 {
    flex: 10;
    padding: 2rem 5rem 2rem 3rem;
    margin-left: 0;
  }

  .flex-container.checkoutItem {
    display: flex;
    flex-direction: row;
  }

  .checkoutItem .block1 {
    flex: 1 40%;
    padding: 0;
    margin: 0 5%;
  }

  .checkoutItem .block2 {
    flex: 1 45%;
    padding: 0 5% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    margin: 0rem 0 1rem 0rem;
  }

  /*End of Product Detail*/
  .checkout-img-noodle {
    margin-left: 0;
  }

  /*input text-box styling*/
  .text-box[type=text] {
    width: 100%;
  }

  /*input text-box styling*/
  .text-box[type=text]:focus {
    width: 100%;
  }

  .contact-text-box[type=text] {
    width: 100%;
  }

  /*input text-box styling*/
  .contact-text-box[type=text]:focus {
    width: 100%;
  }

  .contact-textarea {
    width: 100%;
  }

  /*End of Checkout Page*/
  /*Product Detail Page*/
  #detailSection .block1 {
    padding-top: 4rem;
    margin-left: 0;
  }

  #detailSection .block3 {
    margin-top: 1rem;
    padding: 0 2rem;
  }

  #detailSection .block3 .right-spacing {
    margin: 1rem 0 0 0;
    padding: 0;
  }

  #detailSection .block4 {
    padding: 1rem 0 0 0;
  }

  #detailSection .block5 {
    padding: 1.5rem 0;
    margin: 0;
  }

  .backButton {
    /*Back button*/
    top: 4rem;
  }

  /*End of Trending Page*/
  .right-margin {
    margin-right: 0;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /*About Page PHone Size*/
  #aboutSection .block1 {
    display: flex;
    align-items: center;
    flex: 6;
    padding: 3rem;
    order: 1;
  }

  #aboutSection .block2 {
    flex: 5;
    order: 0;
  }

  #followSection .block1 {
    align-items: center;
    flex: 6;
    order: 1;
    padding: 3rem;
  }

  #followSection .block2 {
    flex: 5;
    order: 0;
    margin-right: 0;
    padding: 0;
  }

  #factorySection .block1 {
    flex: 7;
    margin-left: 0;
  }

  #factorySection .block2 {
    flex: 5;
    align-items: center;
    padding: 3rem;
  }

  #more {
    display: none;
  }

  #myBtn {
    display: block;
  }

  #more2 {
    display: none;
  }

  #myBtn2 {
    display: block;
  }

  /*End of About Page*/
  /*Styleguide page phone size*/
  /*About Section Style guide*/
  #aboutStyleGuide .block1 {
    order: 1;
    margin-left: 0;
    padding: 2rem 2rem 0 2rem;
  }

  #aboutStyleGuide .block2 {
    order: 0;
    margin-right: 0;
  }

  /*Persona Section*/
  #personaSection .block1 {
    order: 0;
    margin: 0;
  }

  #personaSection .block2 {
    order: 1;
    padding: 2rem 2rem 0 2rem;
    margin: 0;
  }

  /*Color Section*/
  #colorSection .block1 {
    padding: 2rem 2rem 0 2rem;
    margin: 0;
    order: 1;
  }

  #colorSection .block2 {
    order: 0;
    margin: 0;
  }

  /*Typography Section*/
  #typographySection .block1 {
    order: 0;
    margin: 0;
  }

  #typographySection .block2 {
    order: 1;
    padding: 2rem 2rem 0 2rem;
    margin: 0;
  }

  #typographySection .block2 p {
    order: 1;
    padding: 0;
    margin: 0;
  }

  /*Potential Images Section*/
  .imageSection .block1 {
    order: 1;
    margin: 0;
  }

  #potential-img1 {
    margin-right: 0;
  }

  #potential-img3 {
    margin-right: 0;
  }

  .imageSection .block2 {
    order: 0;
    margin: 0 0 1rem 0;
  }

  /*Interactive Elements Section*/
  #interactiveElementsSection {
    margin-top: 0;
  }

  #interactiveElementsSection .block1 {
    flex: 1;
  }

  #interactiveElementsSection .block2 {
    flex: 2;
  }

  #interactiveElementsSection .block3 {
    flex: 1;
  }

  /*In-text Link Section*/
  #link .block1 {
    order: 0;
    margin: 0;
  }

  #link .block2 {
    order: 1;
    margin: 0;
    padding: 2rem 2rem 0 2rem;
  }

  /*Navigation Button Section*/
  #navButton .block1 {
    padding: 2rem 2rem 0 2rem;
    margin: 0;
    order: 2;
  }

  #navButton .block2 {
    order: 1;
  }

  /*Submit/Reset Button Section*/
  #submitButton .block1 {
    order: 0;
    margin: 0;
  }

  #submitButton .block2 {
    order: 1;
    margin: 0;
    padding: 2rem;
  }

  /*Text input Section*/
  #textInput .block1 {
    padding: 2rem;
    margin: 0;
    order: 2;
  }

  #textInput .block2 {
    margin: 0;
    order: 1;
  }

  /*Radio Button Section*/
  #radioButton .block1 {
    margin: 0;
    order: 0;
  }

  #radioButton .block2 {
    margin: 0;
    padding: 2rem;
    order: 1;
  }

  /*Image as a Link Section*/
  #imageLink .block1 {
    padding: 2rem;
    order: 2;
    margin: 0;
  }

  #imageLink .block2 {
    order: 1;
    margin: 0;
  }

  /*text_elements Section*/
  #textElementsSection {
    margin: 0;
  }

  #textElementsSection .block1 {
    flex: 2;
  }

  #textElementsSection .block2 {
    flex: 8;
  }

  #textElementsSection .block3 {
    flex: 2;
  }

  /*Heading Section*/
  #heading .block1 {
    margin: 0;
    order: 0;
  }

  #heading .block2 {
    margin: 0;
    padding: 2rem;
    order: 1;
  }

  /*Paragraph Section*/
  #para .block1 {
    margin: 0;
    order: 1;
    padding: 2rem;
  }

  #para .block2 {
    margin: 0;
    order: 0;
  }

  /*Numbered List Section*/
  #numberedList .block1 {
    margin: 0;
    order: 0;
  }

  #numberedList .block2 {
    margin: 0;
    padding: 2rem;
    order: 1;
  }

  /*Menu bar section*/
  #navBar .block1 {
    padding: 2rem;
    margin: 0;
    order: 2;
  }

  #navBar .block2 {
    margin: 0;
    order: 1;
  }

  /*Product Listing Section*/
  #productList .block1 {
    margin: 0;
    order: 0;
  }

  #productList .block2 {
    margin: 0;
    padding: 2rem;
    order: 1;
    display: flex;
    flex-direction: row;
  }

  #productList .block2 .productBackground {
    flex: 1 50%;
  }

  #productList .block2 .details {
    flex: 1 44%;
    margin: 0 3%;
  }

  /*Payment section*/
  #payment .block1 {
    margin: 0;
    padding: 2rem;
    order: 2;
  }

  #payment .block2 {
    margin: 0;
    order: 1;
  }

  /*Cart Section*/
  #cart .block1 {
    order: 0;
    margin: 0;
  }

  #cart .block2 {
    order: 1;
    margin: 0;
    padding: 2rem;
  }

  /*End of Styleguide page*/
  /*Product Page Phone Size*/
  .search {
    margin: 1rem 5% 0 5%;
  }

  .product_search .block1 {
    float: left;
    width: 100%;
  }

  .product_search .block2 {
    width: 0%;
  }

  .product_search .block3 {
    width: auto;
    margin: 1rem 2rem 1rem 0;
    display: flex;
    justify-content: flex-start;
  }

  .product_search .block4 {
    width: auto;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
  }

  #products {
    margin-bottom: 0;
  }

  #productIntro .titleBackground {
    height: 100%;
  }

  .product_search.flex-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .product_row {
    margin: 0;
  }

  .product_listing {
    flex-direction: row;
  }

  .product_listing .block1 {
    margin-top: 1rem;
    padding: 0 2% 0 0;
    flex: 1 92%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product_listing .block1 .productBackground {
    display: flex;
    align-items: center;
    flex: 1 50%;
  }

  .product_listing .block1 .details {
    margin: 3%;
    flex: 1 44%;
  }

  /*End of Product Page*/
  /*Checkout Page Phone Size*/
  #checkoutLeft {
    width: 100%;
  }

  #checkoutRight {
    position: relative;
    width: 100%;
    box-shadow: none;
  }

  #checkoutPage footer {
    width: 100%;
  }

  /*End of Checkout PAge*/
  /*Trending Page Phone Size*/
  #trending {
    margin-bottom: 0;
  }

  #trendingIntro .block1 {
    flex: 1;
  }

  #trendingIntro .block2 {
    flex: 5;
  }

  #trendingIntro .block3 {
    flex: 1;
  }

  #spicyNoodleTitle {
    margin: 1rem 0 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #spicyNoodleTitle .black-line {
    margin-bottom: 1rem;
  }

  .trySection .block1 {
    flex: 6;
    margin-left: 0;
    order: 0;
    position: relative;
  }

  .trySection .block2 {
    display: none;
  }

  .trySection .block3 {
    display: none;
  }

  .trySection .block4 {
    flex: 6;
    margin-right: 0;
    order: 0;
  }

  .trySection .block5 {
    display: block;
  }

  .trendingHover p.info {
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 3rem 3rem;
    color: #fff;
    border: 1px solid #fff;
    margin: auto;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .trendingHover:hover p.info, .trendingHover:active p.info, .trendingHover:focus p.info {
    cursor: default;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .trendingHover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: default;
  }

  .trendingHover .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .trendingHover:hover .overlay, .trendingHover:focus .overlay, .trendingHover:active .overlay {
    background-color: rgba(170, 170, 170, 0.4);
  }

  .trendingHover img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .trendingHover img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .trendingHover:hover img, .trendingHover:active img, .trendingHover:focus img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  /*End of Trending PAge*/
  /*Citations Page*/
  #citations {
    margin: 2rem;
  }
}