/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  flex-direction: column;
}

form {
  clear: both;
}

label {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #333333
}

ul {
  margin-top: 2rem;
}

h2 {
  color: #333333;
  font-family: 'Shrikhand', cursive;
  font-size: 5rem;
  letter-spacing: 0.2rem
}

h3 {
  color: #333333;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem
}

h4 {
  clear: both;
  color: #333333;
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem
}

h5 {
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem
}

p {
  clear: both;
  margin-bottom: 1rem;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

/*navigation menu*/
.menuBar {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  /* height: 5rem; */
}

/*navigation menu*/
.menuBar a {
  overflow: hidden;
  margin-top: 1.5rem;
  float: left;
}

/*navigation menu*/
.menuBar a:hover, .menuBar a:focus {
  text-decoration: none;
}

/*code portion*/
code {
  background-color: #ffffff;
  opacity: 0.6;
  padding: 0.5rem;
  display: block;
}

/*all images*/
img {
  /* margin-bottom: 2rem; */
  width: 100%;
  display: block;
}

footer {
  background-color: #f8f7f0;
  margin: 1rem 0 0 0;
  padding: 3rem 5rem;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button that is active*/
.active {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  z-index: 999;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: top 0.3s;
}

/*input text-box styling*/
.text-box[type=text] {
  border: 0.1rem solid #666666;
  border-radius: 0.5rem;
  padding: 0.75rem 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  outline-width: 0;
  width: 100%;
  clear: both;
}

/*input text-box styling*/
.text-box[type=text]:focus {
  width: 100%;
  border: 0.1rem solid #f16668;
  border-radius: 0.5rem;
  padding: 0.75rem 0.5rem;
  outline-width: 0;
}

/*This is the styling for the navigation buttons*/
.button-nav {
  display: inline-block;
  padding: 1rem 2rem;
  color: #232323;
  text-decoration: none;
  transition: color 0.5s ease;
}

/*This is the styling for the navigation buttons*/
.button-nav:hover, .button-nav:focus {
  color: #f16668;
}

/*This is the styling for buttons*/
.button {
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: white;
  border: 0.05rem solid #333333;
  border-radius: 0.3rem;
  color: #333333;
  padding: 0.75rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: background-color 0.5s ease;
}

.button:hover, .button:focus {
  background-color: #f16668;
  padding: 0.75rem 4rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* this is the styling for the remove buttons in cart */
.remove_button {
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: white;
  border: 0.05rem solid #333333;
  border-radius: 0.3rem;
  color: #333333;
  padding: 0.3rem 1.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  transition: background-color 0.5s ease;
}

.remove_button:hover, .remove_button:focus {
  background-color: lightgrey;
  padding: 0.3rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*This is part of the styling for the radio button*/
.radio-label {
  display: block;
  position: relative;
  padding-top: 0.145rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*This is part of the styling for the radio button*/
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
}

/*This is part of the styling for the radio button*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

/*This is part of the styling for the radio button*/
.radio-label:hover input~.checkmark {
  background-color: #cccccc;
}

/*This is part of the styling for the radio button*/
.radio-label input:checked~.checkmark {
  background-color: #f16668;
}

/*This is part of the styling for the radio button*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/*This is part of the styling for the radio button*/
.radio-label input:checked~.checkmark:after {
  display: block;
}

/*This is part of the styling for the radio button*/
.radio-label .checkmark:after {
  top: 0.45rem;
  left: 0.45rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

/*I referenced from w3school to style the radio button https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/
/*image margins for title*/
.product-img-background {
  background-color: #f8f7f0;
}

.checkout-img-background {
  background-color: #a8cfe5;
}

.checkout-img-noodle {
  margin-top: 3rem;
  margin-left: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.img-noodle {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.img-noodle:hover {
  opacity: 0.6;
}

/*Title screen at the beginning row/container */
.title-screen {
  width: 100%;
  position: relative;
  text-align: left;
}

.payment-panel {
  padding-top: 4rem;
  position: relative;
  text-align: center;
}

.payment-title {
  font-size: 3vw !important;
}

/*placing the title at the center of the container*/
.title {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.payment-panel {
  padding-top: 4rem;
  position: relative;
  text-align: center;
}

.payment-title {
  font-size: 3vw !important;
}

/*floats images and text to left or right*/
.left-side {
  float: left;
}

.right-side {
  float: right;
  text-align: right;
}

/*Set text to white or black*/
.white-text {
  color: #ffffff;
}

.black-text {
  color: #333333;
}

/*testing to make the paragraphs at the center*/
.vertical-center {
  display: flex;
  align-items: center;
}

/* LINE STYLING*/
.black-line {
  /*Set color of line to be black*/
  clear: both;
  width: 7%;
  margin-bottom: 2rem;
  border-top: 0.15rem solid #333333
}

.white-line {
  /*Set color of line to be white*/
  clear: both;
  width: 7%;
  margin-bottom: 2rem;
  border-top: 0.15rem solid #ffffff
}

.fat-line {
  /*Set thickness of line*/
  border-left-width: 0.6rem;
}

.heavy-line {
  /*Set thickness of line*/
  border-left-width: 0.4rem;
}

.regular-line {
  /*Set thickness of line*/
  border-left-width: 0.2rem;
}

.thin-line {
  /*Set thickness of line*/
  border-left-width: 0.1rem;
}

.rice-white-line {
  /*Set color of line to be rice white*/
  border-left-style: solid;
  border-left-color: #f8f7f0;
  height: 100%;
}

.pink-line {
  /*Set color of line to be pink*/
  border-left-style: solid;
  border-left-color: #f16668;
  height: 100%;
}

.dark-blue-line {
  /*Set color of line to be dark blue*/
  border-left-style: solid;
  border-left-color: #42538a;
  height: 100%;
}

.yellow-line {
  /*Set color of line to be yellow*/
  border-left-style: solid;
  border-left-color: #f8e38f;
  height: 100%;
}

.blue-line {
  /*Set color of line to be blue*/
  border-left-style: solid;
  border-left-color: #a8cfe5;
  height: 100%;
}

.left-line {
  float: left;
  margin-left: 0.7rem;
}

.right-line {
  float: right;
  margin-right: 0.7rem;
}

/*
  TEXT ELEMENTS -------------------
*/
.shrikhand-regular {
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
  display: inline-block;
  font-size: 1rem;
  line-height: 3rem;
  padding: 7rem 5rem 0 2rem;
}

.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  display: inline-block;
  line-height: 3rem;
  padding: 2rem 5rem 0 2rem;
}

.open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: inline-block;
  line-height: 3rem;
  padding: 2rem 5rem 2rem 2rem;
}

.middle-text {
  clear: both;
  text-align: center;
}

.item {
  padding-bottom: 1rem;
  margin: 0rem 0 0 1rem;
  background-color: #f8e38f;
}

.text-display {
  clear: both;
  display: inline-block;
  padding-bottom: 5rem;
}

.order-summary {
  margin-right: 2rem;
}

.checkout-text {
  margin-top: 2rem;
}

/*padding for each section*/
#about {
  padding: 2rem 0rem 2rem 2rem;
}

/*padding for each section*/
#persona {
  padding: 2rem 2rem 0 0;
}

/*padding for each section*/
#typeface {
  padding: 2rem 2rem 2rem 5rem;
}

#product-section {
  padding: 2rem 2rem 2rem 5rem;
}

/*padding for each section*/
#color-palette {
  padding: 2rem 2rem 2rem 2rem;
}

/*padding for each section*/
#in-text-link {
  padding: 2rem 2rem 2rem 5rem;
}

/*padding for each section*/
#navigation-link {
  padding: 2rem 5rem 2rem 2rem;
}

#image-link {
  padding: 2rem 5rem 2rem 2rem;
}

/*padding for each section*/
.submit-button {
  padding: 2rem 2rem 2rem 5rem;
}

/*padding for each section*/
.text-input {
  padding: 2rem 5rem 2rem 2rem;
}

/*padding for the potential images*/
#potential-img1 {
  padding: 0;
  margin-right: 1rem;
}

#potential-img2 {
  padding: 3.5rem 2rem 0 2rem;
}

#potential-img3 {
  padding: 2rem 0 0 0;
  margin-right: 1rem;
}

#potential-img4 {
  padding: 0 0 0 0;
}

.blue {
  /*Set color of container to blue*/
  background-color: #a8cfe5;
  margin: 0;
}

.pink {
  /*Set color of container to pink*/
  background-color: #f16668;
  margin: 0;
}

.yellow {
  /*Set color of container to yellow*/
  background-color: #f8e38f;
  margin: 0;
}

.dark-blue {
  /*Set color of container to dark blue*/
  background-color: #42538a;
  margin: 0;
}

.rice-white {
  /*Set color of container to rice white*/
  background-color: #f8f7f0;
  margin: 0;
}

.white {
  /*Set color of container to white*/
  background-color: white;
}

/* this is the styling for the remove buttons in cart */
.remove_button {
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: white;
  border: 0.05rem solid #333333;
  border-radius: 0.3rem;
  color: #333333;
  padding: 0.3rem 1.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  transition: background-color 0.5s ease;
}

.remove_button:hover, .remove_button:focus {
  background-color: #dddddd;
  padding: 0.3rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#checkoutLeft {
  width: 75%;
}

#checkoutRight {
  top: 0;
  position: fixed;
  right: 0;
  width: 25%;
  box-shadow: -4px 0px 8px 0px #00000052;
}

/*
  COMBINED ELEMENTS -------------------
*/